.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33
}

.navigation_type_logged {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4
}

.navigation_type_unlogged {
    position: absolute;
    right: 176px;
}

.navigation__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.navigation__link_type_logged {
    color: #000000;
}

.navigation__link_type_active {
    font-weight: 500;
}