.header {
    min-height: 74px;
    margin: 0;
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.header_type_logged {
    background-color: #ffffff;
}

.header_type_unlogged {
    background-color: #5C5C5C;
}

.header__logo {
    margin: 0;
    padding: 0;
    height: 38px;
    width: 38px;
    object-fit: contain;
    object-position: center;
    opacity: 1;
}

.header__button {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.header__button_type_logged {
    width: 100px;
    height: 32px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border-color: transparent;
    font-size: 14px;
    line-height: 1.15;
    /* font-size: 14px;
    line-height: 1.14; */
}

.header__button_type_unlogged {
    height: 32px;
    width: 76px;
    background-color: #2BE080;
    border-radius: 3px;
    color: #000000;
    border-color: transparent;
    font-size: 12px;
    line-height: 1.33;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 540px) {
    .header {
        padding: 18px 14px;
    }

    .header__button_type_unlogged {
        width: 54px;
        height: 26px;
        font-size: 10px;
        line-height: 1.6;
    }
}