.register {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .register {
        padding: 56px 0 30px;
        align-items: flex-start;
    }
}